@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html{
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes custom-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slow-spin {
  animation: custom-spin 9s linear infinite;
}

.md-spin {
  animation: custom-spin 3s linear infinite;
}

img {
  -webkit-user-drag: none;
}


section{
  overflow-x: hidden;
}

.dot{
  animation: fading 2s linear 0s infinite normal backwards;
}

@keyframes fading{
  0%{
    scale: 0;
    opacity: 1;
  }
  100%{
    scale: 2.5;
    opacity: 0;
  }
}